@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 1670px) {
  p {
    font-size: 1rem;
  }
}

@media (max-width: 880px) {
  p {
    font-size: 1rem;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    display: none !important;
  }
}

@media (max-width: 400px) {
  p {
    font-size: 0.75rem;
  }
}
